body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 232, 232);
    height: 100vh;
    gap: 3px;
}
.header{
    font-size: 36px;
}

.board{
    width: 800px;
    height: 800px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.cell {
    background-color: white;
    margin: 0;
  }